<div class="px-6">
  <h1 mat-dialog-title class="text-center pt-5">Registro Exitoso</h1>
  <div mat-dialog-content>Se ha registrado exitosamente</div>
  <div mat-dialog-actions class="button">
    <button  
     (click)="close()"
     mat-dialog-close cdkFocusInitial
     class="bg-cyan-600 py-2 px-3 rounded-md text-white font-semibold ">
     <div class="flex justify-end">
      <span class="mt-[1px]">Continuar</span>
      <mat-icon >arrow_forward</mat-icon>
     </div>
  </button>
  </div>
</div>
