<div class="grid grid-cols-2 gap-10 h-[100%]">
  <div class="flex items-center">
    <div class="bg-slate-300 w-[60%] mx-auto mt-10 shadow-lg rounded-sm">
      <h1 class="text-center pt-5">Registrar Usuario</h1>
      <form [formGroup]="formRegister">
        <div class="px-8">
          <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese Nombre</mat-label>
            <input matInput 
            formControlName="name" />
            <mat-error *ngIf="formRegister.get('name')?.hasError('required')">
              Nombre es <strong>Requerido</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('name')?.hasError('minlength')">
              Debe contener minimo <strong>3</strong> caracteres 
            </mat-error>
            <mat-error *ngIf="formRegister.get('name')?.hasError('maxlength')">
              Debe contener máximo <strong>25</strong> caracteres 
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese Apellido</mat-label>
            <input matInput 
            formControlName="lastname" />
            <mat-error *ngIf="formRegister.get('lastname')?.hasError('required')">
              Apellido es <strong>Requerido</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('lastname')?.hasError('pattern')">
              Debe contener minimo <strong>2</strong> palabras  y solo letras
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese Email</mat-label>
            <input matInput 
            formControlName="email" />
            <mat-error *ngIf="formRegister.get('email')?.hasError('required')">
              Email es <strong>Requerido</strong>
            </mat-error>
            <mat-error *ngIf="formRegister.get('email')?.hasError('emaila')">
              Email es <strong>invalido</strong>, ejemplo@gmail.com
            </mat-error>
          </mat-form-field>
    
          <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese Website</mat-label>
            <input matInput 
            formControlName="website" />
            <mat-error *ngIf="formRegister.get('website')?.hasError('required')">
              Website es <strong>Requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="buton">
          <button mat-raised-button
            color="primary"
            class="mb-4"
            (click)="onSaveUSer()">
            <mat-icon>save</mat-icon> Registrar
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="flex items-center ">
     <div class="w-[80%] ">
      <h2 class="text-center"> Listado  de Usuarios </h2>
      <div class=" mx-auto grid grid-cols-3">
        <ul *ngFor="let data of dataUSer; let i = index" class="w-[100%]  mt-5">
           <li class=" ml-20 bg-blue-500 w-[60%] mx-auto text-center rounded-md text-white font-semibold"> {{i+1}}</li>
           <li class="ml-[100px]">{{data.name}}</li>
           <li class="ml-[100px]">{{data.lastname}}</li>
           <li class="ml-[100px]">{{data.email}}</li>
           <li class="ml-[100px]">{{data.website}}</li>
         </ul>
      </div>
     </div>
  </div>  
</div>